@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IList<BullardLibros.Core.DTO.CategoriaDTO>

@section styles{
    @Styles.Render("~/Content/themes/admin/js/nestable/nestable.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/nestable/jquery.nestable.js")
    @Scripts.Render("~/Content/themes/admin/js/nestable/demo.js")
}
@functions{
    public string printTree(IList<BullardLibros.Core.DTO.CategoriaDTO> categorias, int nivel)
    {
        if (categorias != null && categorias.Count != 0)
        {
            System.Text.StringBuilder output = new System.Text.StringBuilder("<ol class='dd-list'>");

            foreach (BullardLibros.Core.DTO.CategoriaDTO obj in categorias)
            {
                var classInactive = (ViewBag.EsAdmin && !obj.Estado) ? "inactive" : "";
                var styleI = (ViewBag.EsAdmin && !obj.Estado) ? "style='display:none;'" : "";
                output.AppendFormat("<li class='dd-item dd3-item" + classInactive + "' data-id='{0}' " + styleI + "><div class='dd3-content' style='{1}'>{2} <b class='badge bg-warning dot {3}'></b></div>", obj.IdCategoria, nivel == 3 ? "color: #428BCA;" : "", obj.Nombre, obj.Estado ? "green" : "red");
                if (obj.IdCategoriaPadre != null || ViewBag.EsAdmin) { output.AppendFormat("<a class='btn-edit' href='{0}'><i class='fa fa-pencil'></i></a>", Url.Action("Categoria", new { id = obj.IdCategoria })); }
                if (nivel < 3) { output.AppendFormat("<a class='btn-edit btn-add' href='{0}' title='Nueva Categoría Interna'><i class='fa fa-plus'></i></a>", Url.Action("Categoria", new { id = 0, idPadre = obj.IdCategoria })); }
                if (obj.Hijos != null && obj.Hijos.Count != 0) { output.Append(printTree(obj.Hijos, nivel + 1)); }
                output.Append("</li>");
            }

            output.Append("</ol>");
            return output.ToString();
        }
        else return "";
    }
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Categorias</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        <div class="row text-sm wrapper">
                            <div class="col-sm-8">
                                <div class="btn-group">
                                    <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("Categoria")"><i class="fa fa-plus"></i> Crear nueva Categoría</a>
                            </div>
                        </div>
                    }
                    <button id="nestable-menu" class="btn btn-xs btn-default active" data-toggle="class:show" style="margin-left:30px;">
                        <i class="fa fa-plus text"></i> <span class="text">Expandir</span> 
                        <i class="fa fa-minus text-active"></i> <span class="text-active">Colapsar</span>
                    </button>
                    <div class="panel-body">
                        <div class="col-md-10">
                            <div class="dd" id="nestable3">
                                @Html.Raw(printTree(Model, 1))
                            </div>
                        </div>
                        <div class="col-md-2">
                            <blockquote class="leyend" style="padding:10px;">
                                <h4>Leyenda</h4>
                                <p><b class='badge bg-warning dot'></b> Activo</p>
                                <p><b class='badge bg-warning dot red'></b> Inactivo</p>
                            </blockquote>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>