@using BullardLibros.Core.DTO
@using System.Globalization;
@model IList<BullardLibros.Core.DTO.ComprobanteDTO>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
    @Styles.Render("~/Content/themes/admin/js/datatables/css/dataTables.jqueryui.min.css")
    @Styles.Render("~/Content/themes/admin/js/datatables/datatables.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")
    @Scripts.Render("~/Content/themes/admin/js/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/themes/admin/js/datatables/languageConf.js")
    <script type="text/javascript">
        $(function () {
            $('.dataTable').DataTable();

            $('#idreporte').click(function () {
                var miURL = "/Admin/Comprobantes";
                $('.titulo').each(function (index) {
                    if ($(this).hasClass('active'))
                    { miURL = exportarDetalle(index + 1); }
                })
                this.href = miURL;
            })
        });

        function exportarDetalle(tipoComprobante) {
            var FechaInicio = $("#FechaInicio").val().split("/"); FechaInicio = FechaInicio[2] + "/" + FechaInicio[1] + "/" + FechaInicio[0];
            var FechaFin = $("#FechaFin").val().split("/"); FechaFin = FechaFin[2] + "/" + FechaFin[1] + "/" + FechaFin[0];

            return "/Admin/ExportarComprobantes/?idTipoComprobante=" + tipoComprobante + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
        }
    </script>
}
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12">
                <h2>Comprobantes</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    <header class="panel-heading bg-light">
                        <ul class="nav nav-tabs nav-justified">
                            @{bool idnull1 = false;
                            string cadena1 = "";}
                            @foreach (var item in (List<TipoComprobanteDTO>)ViewBag.lstTipoComprobantes)
                            {
                                if (ViewBag.idTipoComprobante != null)
                                { cadena1 = ViewBag.idTipoComprobante == item.IdTipoComprobante ? "active" : ""; }
                                else if (!idnull1)
                                { idnull1 = true; cadena1 = "active"; }
                                <li class="titulo @cadena1">
                                    <a href="#@item.Nombre" data-toggle="tab">@item.Nombre</a>
                                </li>
                                if (idnull1) { cadena1 = ""; }
                            }
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            @{bool idnull2 = false;
                            string cadena2 = "";}
                            @foreach (var item in (List<TipoComprobanteDTO>)ViewBag.lstTipoComprobantes)
                            {
                                if (ViewBag.idTipoComprobante != null)
                                { cadena2 = ViewBag.idTipoComprobante == item.IdTipoComprobante ? "active" : ""; }
                                else if (!idnull2)
                                { idnull2 = true; cadena2 = "active"; }
                                <div class="tab-pane @cadena2" id="@item.Nombre">
                                    <section class="panel panel-default">

                                        <header class="panel-heading">
                                            <div class="row text-sm">
                                                <div class="col-sm-8">
                                                    <div class="btn-group">
                                                        <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    @if (!ViewBag.EsUsuarioExterno)
                                                    {<a class="btn btn-sm btn-success pull-right" href="@Url.Action("Comprobante", "Admin", new { id = 0, idTipoComprobante = item.IdTipoComprobante })"><i class="fa fa-plus"></i> Crear nuevo @item.Nombre</a>}
                                                </div>
                                            </div>
                                        </header>

                                        <div class="table-responsive">
                                            <table class="table table-striped m-b-none dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        @{
                                                    var rFechaFin = item.IdTipoComprobante == 1 ? "Cobro" : "Pago";
                                                    var strEntidad = item.IdTipoComprobante == 1 ? "Cliente" : "Proveedor";
                                                        }
                                                        <th class="text-center" width="7%">Fecha</th>
                                                        <th class="text-center" width="10%">Docum.</th>
                                                        <th class="text-center" width="10%">Numero</th>
                                                        <th class="text-center" width="14%">@strEntidad</th>
                                                        @if (item.IdTipoComprobante == 1)
                                                        {
                                                        <th class="text-center" width="10%">Proy&nbsp;</th>}
                                                        <th class="text-center" width="15%">Monto<br />&nbsp;Sin IGV</th>
                                                        <th class="text-center" width="14%">Partida<br />&nbsp;Presupuesto</th>
                                                        <th class="text-center" width="7%">Fecha<br />&nbsp;@rFechaFin &nbsp;</th>
                                                        <th class="text-center" width="5%">Usuario</th>
                                                        <th class="text-center" width="4%">E.</th>
                                                        <th class="text-center" width="4%">Opc.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        foreach (var obj in Model)
                                                        {
                                                            if (item.IdTipoComprobante == obj.IdTipoComprobante)
                                                            {
                                                                var classInactive = (ViewBag.EsAdmin && !obj.Estado) ? "class='inactive'" : "";
                                                                <tr @Html.Raw(classInactive)>
                                                                    <td class="text-center" width="7%">@obj.FechaEmision.ToString("yyyy/MM/dd", CultureInfo.CreateSpecificCulture("es-PE"))</td>
                                                                    <td class="text-center" width="10%">@obj.NombreTipoDocumento</td>
                                                                    <td class="text-center" width="10%">@obj.NroDocumento</td>
                                                                    <td class="text-center" width="14%">@obj.NombreEntidad</td>
                                                                    @if (item.IdTipoComprobante == 1)
                                                                    {
                                                                    <td class="text-center" width="10%">@(obj.NombreProyecto == null ? "N/A" : obj.NombreProyecto)</td>}
                                                                    <td class="text-center" width="15%">@obj.SimboloMoneda @obj.MontoSinIGV.ToString("N2", CultureInfo.InvariantCulture)</td>
                                                                    <td class="text-center" width="14%">@obj.NombreCategoria</td>
                                                                    <td class="text-center" width="7%">@(obj.FechaConclusion == null ? " - " : obj.FechaConclusion.GetValueOrDefault().ToString("yyyy/MM/dd", CultureInfo.CreateSpecificCulture("es-PE")))</td>
                                                                    <td class="text-center" width="5%">@obj.NombreUsuario</td>
                                                                    @if (!obj.Ejecutado)
                                                                    {
                                                                        <td class="text-center" width="4%" style="color:red">P</td>}
                                                                    else
                                                                    {
                                                                        <td class="text-center" width="4%" style="color:#8EC100;">R</td> }
                                                                    @*<td class="text-center" width="4%">@(obj.Ejecutado ? "O" : "X")</td>*@
                                                                    @{ var rIcon = ViewBag.EsUsuarioExterno ? "search" : "pencil"; var rTitle = ViewBag.EsUsuarioExterno ? "Visualizar" : "Editar"; }
                                                                    <td align="center"><a href="@Url.Action("Comprobante", "Admin", new { id = obj.IdComprobante })"><i class="fa fa-@rIcon" title="@rTitle"></i></a></td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                                                    if (idnull2) { cadena2 = ""; }
                            }
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row col-md-offset-6">
                            <div class="col-xs-4 col-md-4">
                                @Html.TextBox("FechaInicio", new DateTime(DateTime.Now.Year, 1, 1), "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Fecha de inicio", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-4 col-md-4">
                                @Html.TextBox("FechaFin", new DateTime(DateTime.Now.Year, 12, 31), "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Fecha de fin", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a class="btn btn-s-md btn-success" id="idreporte">
                                    Exportar
                                </a>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>
        </div>
    </section>
</section>