@{
    ViewBag.Title = "Forgot Password";
}
@section Scripts{
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")

    <script type="text/javascript">
    </script>
}
<!DOCTYPE html>

<html lang="es" class="bg-gray">
<head>
    <meta charset="utf-8" />
    <title>ForgotPassword</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/themes/admin/css/bootstrap.css")
    @Styles.Render("~/Content/themes/admin/css/animate.css")
    @Styles.Render("~/Content/themes/admin/css/font-awesome.min.css")
    @Styles.Render("~/Content/themes/admin/css/font.css")
    @Styles.Render("~/Content/themes/admin/css/app.css")
    @Styles.Render("~/Content/themes/admin/css/main.css")
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/theme.css")
</head>
<body>
    @Html.Partial("_showAlertMessages")

    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xxl">
            <a class="text-center block m-lg"><img src="@Url.Content("~/Content/themes/admin/images/logo.png")" style="width: 100%;"></a>
            @*<a class="navbar-brand block">Administrador</a>*@
            <section class="panel panel-default bg-white m-t-sm">
                <header class="panel-heading text-center">
                    <strong>Recuperar Contraseña</strong>
                </header>
                @using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @class = "panel-body wrapper-lg" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3 label-md">Empresa</label>
                            <div class="col-md-9">
                                @Html.TextBox("codigoEmpresa", "", new { @class = "form-control input-md", @required = "required" })
                            </div>
                        </div>
                        @*@Html.DropDownListFor(u => u.IdFormaMovimiento, new SelectList(ViewBag.lstFormaMovs, "IdFormaMovimiento", "Nombre", "NombreTipo", Model != null ? (Model.IdFormaMovimiento != null ? Model.IdFormaMovimiento : 0) : 0), new { @class = "col-xs-12 col-sm-12 col-md-12 no-padder miselect2 rol-accs" })*@
                        @*@Html.DropDownList("Empresa", new SelectList(ViewBag.lstEmpresas, "IdEmpresa", "Nombre"), new { @class = "form-control no-padder miselect2 rol-accs" })*@
                    </div>
                    <div class="form-group">
                        <label class="control-label label-md">Usuario o Email</label>
                        @Html.TextBox("UserName", "", new { @class = "form-control input-md", @required = "required" })
                    </div>

                    <button type="submit" class="btn btn-success">Enviar email</button>
                    <a class="pull-right btn btn-danger" href="@Url.Action("Ingresar", "Admin")">Volver</a>
                }
            </section>
        </div>
    </section>
    <footer id="footer">
        <div class="text-center padder">
            <p>
                <small>NubeLabs / NubeBooks 1.0<br>&copy; 2015</small>
            </p>
        </div>
    </footer>
    @Scripts.Render("~/Content/themes/admin/js/jquery.min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Content/themes/admin/js/bootstrap.js")
    <!-- App -->
    @Scripts.Render("~/Content/themes/admin/js/app.js")
    @Scripts.Render("~/Content/themes/admin/js/app.plugin.js")
    @Scripts.Render("~/Content/themes/admin/js/slimscroll/jquery.slimscroll.min.js")

    <div>
    </div>
</body>
</html>
