@{
    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Globalization;
@model IList<BullardLibros.Core.DTO.CuentaBancariaDTO>

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Libros</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        <div class="row text-sm wrapper">

                            <div class="col-sm-8">
                                <div class="btn-group">

                                    <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-sm btn-success pull-right" href="@Url.Action("Libro")"><i class="fa fa-plus"></i> Crear nuevo Libro</a>
                            </div>

                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="20%">Nombre</th>
                                    <th class="text-center" width="20%">Fecha</th>
                                    <th class="text-center" width="15%">Saldo Disponible</th>
                                    <th class="text-center" width="15%">Saldo Bancario</th>
                                    <th class="text-center" width="10%">Estado</th>
                                    <th class="text-center" width="20%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach(var obj in Model)
                                    {
                                        var classInactive = (ViewBag.EsAdmin && !obj.Estado) ? "class='inactive'" : "";
                                        <tr @Html.Raw(classInactive)>
                                            <td width="20%">@obj.NombreCuenta</td>
                                            <td class="text-center" width="20%">@obj.FechaConciliacion.ToString("dd/MMM/yyyy", CultureInfo.CreateSpecificCulture("es-PE"))</td>
                                            <td class="text-right" width="15%">@obj.SimboloMoneda @obj.SaldoDisponible.ToString("N2", CultureInfo.InvariantCulture)</td>
                                            <td class="text-right" width="15%">@obj.SimboloMoneda @obj.SaldoBancario.ToString("N2", CultureInfo.InvariantCulture)</td>
                                            @if(obj.Estado == true)
                                            {<td class="text-center" width="10%">Activo</td>}
                                            else{<td class="text-center" width="10%">Inactivo</td>}
                                            
                                            @if (ViewBag.EsAdmin)
                                            {
                                                <td align="center"><a href="@Url.Action("Libro", new { id = obj.IdCuentaBancaria })"><i class="fa fa-pencil"></i></a></td>
                                            }
                                            else
                                            {
                                                <td align="center"><a href="@Url.Action("LibroVista", new { id = obj.IdCuentaBancaria })"><i class="fa fa-search"></i></a></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>