@using BullardLibros.Core.DTO
@model MovimientoDTO
@{
    ViewBag.Title = "NubeLabs SCI - Movimiento";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/themes/admin/js/select2/select2.css")
    @Styles.Render("~/Content/themes/admin/js/select2/select2-bootstrap.css")
}

@section Scripts{
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.min.js")
    @Scripts.Render("~/Content/themes/admin/js/select2/select2.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#comboCategoria').select2({
                placeholder: "Seleccione una categoría",
                allowClear: true,
                //minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                minimumResultsForSearch: -1,
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: "/Admin/CategoriasJson", // Controller - Select2Demo and Action -AccessRemoteData
                    type: "POST",
                    dataType: 'json',
                    //quietMillis: 250,
                    data: function () {
                        return JSON.stringify();
                    },
                    results: function (data, page) {
                        return { results: data.listaCat }; // data.CountryList returning json data from Controlle
                    },
                },
                formatResult: format,
                formatSelection: format
            })
        });

        function format(res) {
            var markup = null;
            if (res.children == null)
                markup = '<font color="#27ae60">' + res.text + '</font>';
            else
                markup = '<font color="black">' + res.text + '</font>';
            return markup;
        }

        function CheckNumericValue(e) {
            var key = e.which ? e.which : e.keyCode;
            //enter key  //backspace //tabkey      //escape key
            if ((key >= 48 && key <= 57) || key == 13 || key == 8 || key == 9 || key == 27 || key == 46) {
                return true;
            }
            else {
                alert("Solo ingresar un numero decimal");
                return false;
            }
        }

        function ModificarCombos() {
            if ($('#Nombre').val() == 'INGRESOS' || $('#Nombre').val() == 'ingresos')
            {
                $('#IdTipoMovimiento').prop('selectedIndex', 1);
                $('#IdEstadoMovimiento').prop('selectedIndex', 1);
                //document.getElementById("IdTipoMovimiento").selectedIndex = 1;
            }
        }
        
    </script>
}
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                @if (Model == null || Model.IdMovimiento == 0)
                {
                    <h2>Nuevo Movimiento</h2>
                }
                else
                {
                    <h2>Actualizar Movimiento</h2>
                }

                @using (Html.BeginForm("AddMovimiento", "Admin", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="row m-b">
                        <div class="col-xs-12 col-md-12">
                            @Html.Partial("_showAlertMessages")

                            <section class="panel panel-default">
                                @*<header class="panel-heading font-bold">Formulario de Registro</header>*@
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(u => u.Nombre, new { @class = "form-control", @placeholder = "Ingrese el nombre del movimiento", @type = "text", @onkeyup = "ModificarCombos()" })
                                        @Html.ValidationMessageFor(u => u.Nombre)
                                    </div>
                                    @{
                    var value = "";
                    if (Model != null)
                    {
                        value = String.Format("{0:d}", Model.Fecha.ToString("dd/MM/yyyy"));
                    }
                                    }

                                    <div class="form-group col-md-4" style="padding-left:0px;">
                                        <label>Fecha</label>
                                        @Html.TextBoxFor(u => u.Fecha, "{0:dd/MM/yyyy}", new { @id = "Fecha", @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha del movimiento", @type = "text", @data_provide = "datepicker", @readonly = "true" })
                                        @Html.ValidationMessageFor(u => u.Fecha)
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tipo de Movimiento</label>
                                        @Html.DropDownListFor(u => u.IdTipoMovimiento, new SelectList(ViewBag.TiposMovimientos, "IdTipoMovimiento", "Nombre", Model != null ? (Model.IdTipoMovimiento != null ? Model.IdTipoMovimiento : 0) : 0), new { @class = "form-control parsley-validated" })
                                        @Html.ValidationMessageFor(u => u.IdTipoMovimiento)
                                    </div>
                                    <div class="form-group col-md-4" style="padding-right:0px;">
                                        <label>Estado de Movimiento</label>
                                        @Html.DropDownListFor(u => u.IdEstadoMovimiento, new SelectList(ViewBag.EstadosMovimientos, "IdEstadoMovimiento", "Nombre", Model != null ? (Model.IdEstadoMovimiento != null ? Model.IdEstadoMovimiento : 0) : 0), new { @class = "form-control parsley-validated" })
                                        @Html.ValidationMessageFor(u => u.IdEstadoMovimiento)
                                    </div>
                                    <div class="form-group col-md-4" style="padding-left:0px;">
                                        <label>Categoria : <font color="#3498db">@ViewBag.NombreCategoria</font></label>
                                        @Html.TextBoxFor(u => u.IdCategoria, new { @id = "comboCategoria", @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.IdCategoria)
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Entidad Responsable</label>
                                        @Html.DropDownListFor(u => u.IdEntidadResponsable, new SelectList(ViewBag.EntidadesResponsables, "IdEntidadResponsable", "Nombre", Model != null ? (Model.IdEntidadResponsable != null ? Model.IdEntidadResponsable : 0) : 0), new { @class = "form-control parsley-validated" })
                                        @Html.ValidationMessageFor(u => u.IdEntidadResponsable)
                                    </div>
                                    <div class="form-group col-md-4" style="padding-right:0px;">
                                        <label>Numero de documento</label>
                                        @Html.TextBoxFor(u => u.NumeroDocumento, new { @class = "form-control", @placeholder = "Ingrese el numero del documento", @type = "text" })
                                        @Html.ValidationMessageFor(u => u.NumeroDocumento)
                                    </div>
                                    <div class="form-group">
                                        <label>Monto</label>
                                        @Html.TextBoxFor(u => u.Monto, "{0:#.00}", new { @class = "form-control", @placeholder = "Ingrese el monto del movimiento", @type = "text", @onkeypress = "return CheckNumericValue(event)" })
                                        @Html.ValidationMessageFor(u => u.Monto)
                                    </div>
                                    <div class="form-group">
                                        <label>Comentario</label>
                                        @Html.TextBoxFor(u => u.Comentario, new { @class = "form-control", @placeholder = "Ingrese el comentario del movimiento", @type = "text" })
                                        @Html.ValidationMessageFor(u => u.Comentario)
                                    </div>
                                    @if (ViewBag.EsAdmin && Model != null && Model.IdMovimiento > 0)
                                    {
                                        <div class="line line-dashed line-lg pull-in"></div>
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(u => u.Estado)
                                                Activo
                                            </label>
                                            @Html.ValidationMessageFor(u => u.Estado)
                                        </div>}
                                    else
                                    {
                                        @Html.TextBoxFor(u => u.Estado, new { @value = Model != null ? Model.Estado : false, @type = "hidden" })
                                    }
                                    <div class="line line-dashed line-lg pull-in"></div>
                                    @Html.TextBoxFor(u => u.IdMovimiento, new { @value = Model != null ? Model.IdMovimiento.ToString() : "", @type = "hidden" })
                                    @Html.TextBoxFor(u => u.IdCuentaBancaria, new { @value = Model != null ? Model.IdCuentaBancaria.ToString() : "", @type = "hidden" })
                                    @*@Html.TextBoxFor(u => u.IdEntidadResponsable, new { @value = Model != null ? Model.IdEntidadResponsable.ToString() : "", @type = "hidden" })*@
                                    @*@Html.TextBoxFor(u => u.IdTipoMovimiento, new { @value = Model != null ? Model.IdTipoMovimiento.ToString() : "", @type = "hidden" })*@
                                    @*@Html.TextBoxFor(u => u.IdCategoria, new { @value = Model != null ? Model.IdCategoria.ToString() : "", @type = "hidden" })*@
                                    @*@Html.TextBoxFor(u => u.IdEstadoMovimiento, new { @value = Model != null ? Model.IdEstadoMovimiento.ToString() : "", @type = "hidden" })*@
                                    @Html.TextBoxFor(u => u.UsuarioCreacion, new { @value = Model != null ? Model.UsuarioCreacion.ToString() : "", @type = "hidden" })
                                    @Html.TextBoxFor(u => u.FechaCreacion, new { @value = Model != null ? Model.FechaCreacion.ToString() : "", @type = "hidden" })
                                    @{var btnName = (Model != null && Model.IdMovimiento > 0) ? "Guardar Cambios" : "Crear";}
                                    <button type="submit" class="btn btn-sm btn-success">@btnName </button>
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Libro", new { id = Model.IdCuentaBancaria })">Salir</a>
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</section>