@{
    ViewBag.Title = "ReporteCategorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#reporte1').click(function () {
            var IdCuentaB = $("#IdCuentaB").val();
            //var FechaInicio = new Date($("#FechaInicio").val());
            var FechaInicio = $('#FechaInicio').datepicker("option", "dateformat", "mm/dd/yy").val();
            //FechaInicio = (FechaInicio.getDate() + 1) + '/' + FechaInicio.getMonth() + '/' + FechaInicio.getFullYear();
            var FechaFin = $("#FechaFin").val();

            ///Admin/GenerarReporte?IdCuentaB=val1&amp;FechaInicio=val2&amp;FechaFin=valor3
            //"/Admin/GenerarReporte?IdCuentaB=" + IdCuentaB + "&amp;" + "FechaInicio=" + FechaInicio + "&amp;" + "FechaFin=" + FechaFin + "&amp;";
            this.href = "/Admin/GenerarReporte/?IdCuentaB=" + IdCuentaB + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);

            

            @*var actionUrl = '@Url.Action("GenerarReporte", "Admin", new { IdCuentaB = "placeh1", FechaInicio = "placeh2", FechaFin = "placeh3" })';
            window.open(actionUrl.replace('placeh1', IdCuentaB));
            window.open(actionUrl.replace('placeh2', FechaInicio));
            window.open(actionUrl.replace('placeh3', FechaFin));

            this.href = actionUrl;*@

            //this.href = this.href.replace("val1", IdCuentaB);
            //this.href = this.href.replace("val2", FechaInicio);
            //this.href = this.href.replace("valor3", FechaFinal);
                //$.ajax({
                //    url: '/Admin/GenerarReporte',
                //    type: 'GET',
                //    data: { IdCuentaB: IdCuentaB, FechaInicio: FechaInicio, FechaFin: FechaFin },
                //    cache: false,

                //    success: function (returnValue) { window.location = '/Downloads?file=' + returnValue; }
                //});
            });
        });

        //$(function () {
        //    $('.link').click(function () {
        //        var ipvalue = $("#IdCuentaB").val();
        //        this.href = this.href.replace("val1", ipvalue);
        //    });
        //});

    </script>
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Reporte</h2>
                <div class="row m-b">
                    <div class="col-xs-12 col-md-12">
                        @Html.ValidationSummary(true)

                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">Resumen de Categorías</header>
                            <div class="panel-body">
                                <div class="form-group col-lg-4">
                                    <label>Tipo de Movimiento</label>
                                    @Html.DropDownList("IdCuentaB", new SelectList(ViewBag.Libros, "IdCuentaBancaria", "NombreCuenta", 0), new { @class = "form-control parsley-validated" })
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="FechaInicio">Fecha Inicio:</label>
                                    @Html.TextBox("FechaInicio", "", "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de inicio", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="FechaFin">Fecha Fin:</label>
                                    @Html.TextBox("FechaFin", "", "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de fin", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                                </div>
                                <div class="form-group m-md">
                                    <label>Reporte por Categorías </label>
                                    @*<button id="Reporte1" type="submit" class="btn btn-sm btn-success" style="margin-left:76px;">Generar Reporte</button>*@
                                    <a class="btn btn-sm btn-success" id="reporte1" >
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    @*<a class="btn btn-default" id="miboton" href="@Url.Action("GenerarReporte", "Admin", new { IdCuentaB = IdCuentaB })"><i class="fa fa-table"></i>&nbsp; Imprimir Excel</a>*@
                                </div>
                                <div class="form-group m-md">
                                    <label>Reporte Detalle de Movimientos </label>
                                    <button id="Reporte2" type="submit" class="btn btn-sm btn-success" style="margin-left:15px;">Generar Reporte</button>
                                </div>
                                <div class="form-group m-md">
                                    <label>Reporte por Entidades </label>
                                    <button id="Reporte3" type="submit" class="btn btn-sm btn-success" style="margin-left:81px;">Generar Reporte</button>
                                </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>