@{
    ViewBag.Title = "NubeLabs SCI - Reporte";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#reporte1').click(function () {
            this.href = GenerarReporte(1);
        });
        $('#reporte2').click(function () {
            this.href = GenerarReporte(2);
        });
        $('#reporte3').click(function () {
            this.href = GenerarReporte(3);
        });

    });

    function GenerarReporte(nrep)
    {
        var IdCuentaB = $("#IdCuentaB").val();

        var FechaInicio = $("#FechaInicio").val().split("/");

        FechaInicio = FechaInicio[2] + "/" + FechaInicio[1] + "/" + FechaInicio[0];

        var FechaFin = $("#FechaFin").val().split("/");
        FechaFin = FechaFin[2] + "/" + FechaFin[1] + "/" + FechaFin[0];

        switch(nrep)
        {
            case 1:
                return "/Admin/GenerarReporteCategorias/?IdCuentaB=" + IdCuentaB + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                break;
            case 2:
                return "/Admin/GenerarReporteDetalleMovimientos/?IdCuentaB=" + IdCuentaB + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                break;
            case 3:
                return "/Admin/GenerarReporteResumenEntidadesR/?IdCuentaB=" + IdCuentaB + "&" + "FechaInicio=" + encodeURIComponent(FechaInicio) + "&" + "FechaFin=" + encodeURIComponent(FechaFin);
                break;
        }
    }

    </script>
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Reporte</h2>
                <div class="row m-b">
                    <div class="col-xs-12 col-md-12">
                        @Html.ValidationSummary(true)

                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">Generar Reportes</header>
                            <div class="panel-body">
                                <div class="form-group col-lg-4">
                                    <label>Tipo de Movimiento</label>
                                    @Html.DropDownList("IdCuentaB", new SelectList(ViewBag.Libros, "IdCuentaBancaria", "NombreCuenta", 0), new { @class = "form-control parsley-validated" })
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="FechaInicio">Fecha Inicio:</label>
                                    @Html.TextBox("FechaInicio", "", "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de inicio", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="FechaFin">Fecha Fin:</label>
                                    @Html.TextBox("FechaFin", "", "{0:dd/MM/yyyy}", new { @class = "datepicker-input form-control", @placeholder = "Ingrese la fecha de fin", @type = "text", @data_provide = "datepicker", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Reporte por Categorías </label>
                                    <a class="btn btn-sm btn-success" id="reporte1">
                                        Generar Reporte
                                    </a>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Reporte Detalle de Movimientos </label>
                                    <a class="btn btn-sm btn-success" id="reporte2">
                                        Generar Reporte
                                    </a>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Reporte por Entidades </label>
                                    <a class="btn btn-sm btn-success" id="reporte3">
                                        Generar Reporte
                                    </a>
                                </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>